{% extends 'geekshop/base.html' %}
{% load static %}
{% load authapp_tags %}

{% block content %}
	<div class="d-flex justify-content-center">
		<div class="col-4">
			<img src="{{ user.avatar|media_link_users }}" class="w-20">
			<form class="form-horizontal" action="{% url 'auth:edit' %}" method="post" enctype=multipart/form-data>
				{% csrf_token %}
				{% for field in edit_form %}
				<div class="mb-3">
					<label class="form_label" for="{{ field.auto_id }}">{{ field.label }}</label>
					{{ field }}
				</div>
				{% endfor %}
				{% for field in profile_form %}
				<div class="mb-3">
					<label class="form_label" for="{{ field.auto_id }}">{{ field.label }}</label>
					{{ field }}
				</div>
				{% endfor %}
			  	<button type="submit" class="btn btn-primary">Изменить</button>
			</form>
			<button class="btn btn-round form-control">
				<a href="{% url 'main' %}" class="">
					На главную
				</a>
			</button>
		</div>
	</div>
{% endblock %}